BODY {
  margin: 1em 1em 1em 60px;
  background: white;
  color: black;
  background-position: top left;
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-image: url(/images/nuxiv.gif);
  font-family: Helvetica, Arial, sans-serif;
}

A:link, A:visited, A:active { color: #444444 }

UL { list-style: none outside }

.toprule { /* like a HR */
  border-top: 1px solid black;
  padding-top: 0.3em;
  font-size: 80% 
}

.ruledtable { 
  border-width: 0em; 
  border-top: 1px solid black;
  width: 100%;
  font-size: 80%
}

pre.shell {
  background-color: #DDDDDD;
}
